In [4]:
import os as os

In [5]:
#setting the working directory
os.chdir("C:\\Users\\parents\\Desktop\\upx python files\\Data Sets\\attachment_Project_Datasets")

In [6]:
#importing relevant libraries

import pandas as pd
import sklearn
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import warnings
warnings.filterwarnings("ignore")

from IPython.display import display

In [7]:
#reading the .csv file
wine_ori_ds =pd.read_csv('winequality.csv')

In [8]:
from numpy import array
from numpy import arange

In [9]:
# OBSERVATION 1 : the filr was read , but data points are not alligned to their respective column heads.
# taking corrective action using the argument  'sep' and seperating the column usint the noted seperator ,for this dataset it was the pantuation mark ';'
# renaming the original read "wine_ori_ds" to 'wine_ds2"


wine_ds2 =pd.read_csv('winequality.csv', sep=';')

In [10]:
# basic understanding of the dat set using .describe and  .info 

wine_ds2.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [11]:
wine_ds2.head() # getting an overview of of nmber types.

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [12]:
wine_ds2.shape

(1599, 12)

In [13]:
wine_ds2.describe().T

,count,mean,std,min,25%,50%,75%,max
fixed acidity,1599.0,8.319637,1.741096,4.60000,7.1000,7.90000,9.200000,15.90000
volatile acidity,1599.0,0.527821,0.179060,0.12000,0.3900,0.52000,0.640000,1.58000
citric acid,1599.0,0.270976,0.194801,0.00000,0.0900,0.26000,0.420000,1.00000
residual sugar,1599.0,2.538806,1.409928,0.90000,1.9000,2.20000,2.600000,15.50000
chlorides,1599.0,0.087467,0.047065,0.01200,0.0700,0.07900,0.090000,0.61100
free sulfur dioxide,1599.0,15.874922,10.460157,1.00000,7.0000,14.00000,21.000000,72.00000
total sulfur dioxide,1599.0,46.467792,32.895324,6.00000,22.0000,38.00000,62.000000,289.00000
density,1599.0,0.996747,0.001887,0.99007,0.9956,0.99675,0.997835,1.00369
pH,1599.0,3.311113,0.154386,2.74000,3.2100,3.31000,3.400000,4.01000
sulphates,1599.0,0.658149,0.169507,0.33000,0.5500,0.62000,0.730000,2.00000
alcohol,1599.0,10.422983,1.065668,8.40000,9.5000,10.20000,11.100000,14.90000
quality,1599.0,5.636023,0.807569,3.00000,5.0000,6.00000,6.000000,8.00000

In [14]:
#OBSERVATION 4: Quality as described by the data set can be mapped against various psysciochemical charestricts of wine, 
#Represented here in the last column and row.
#there is no obvious inter play between any 2 psypsysciochemical variables,

#Assumption 2 : Interplay of psypsysciochemical variables of wine is as varied as taste. Further analysis of the data set should proceed using 'Quality" as the key variabel.

In [15]:
wine_ds2.iloc[1,5]

25.0

In [18]:
# Number of wines with quality rating above 6
quality_above_6 = wine_ds2.loc[(wine_ds2['quality'] > 6)]
n_above_6 = quality_above_6.shape[0]

In [19]:
n_above_6

217

In [20]:
# Number of wines with quality rating below 5
quality_below_5 =wine_ds2.loc[(wine_ds2['quality'] < 5)]
n_below_5 = quality_below_5.shape[0]

In [21]:
n_below_5

63

In [22]:
# Number of wines with quality rating between 5 to 6
quality_between_5 = wine_ds2.loc[(wine_ds2['quality'] >= 5) & (wine_ds2['quality'] <= 6)]
n_between_5_6 = quality_between_5.shape[0]

In [23]:
n_between_5_6

1319

In [24]:
n_wines = wine_ds2.shape[0]

In [25]:
# Percentage of wines with quality rating above 6
greater_percent = n_above_6*100/n_wines

In [27]:
# Print the results
print("Total number of wine data: {}".format(n_wines))
print("Wines with rating 7 and above: {}".format(n_above_6))
print("Wines with rating less than 5: {}".format(n_below_5))
print("Wines with rating 5 and 6: {}".format(n_between_5_6))
print("Percentage of wines with quality 7 and above: {:.2f}%".format(greater_percent))

Total number of wine data: 1599
Wines with rating 7 and above: 217
Wines with rating less than 5: 63
Wines with rating 5 and 6: 1319
Percentage of wines with quality 7 and above: 13.57%